/*-----------------------------------------*/

/* Inceput */

body {
	background-color: #CCCC9A;
}

.continut {
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin: 20px;
}

.sectiuneImagine {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border: solid black;
	width: 60%; 
}

.imagine img {
	width: 100%;
}

.butoane {
	align-self: flex-start;
}

.sectiuneText{
	width: 40%;
}

.text {
	font-size: 40px;
	font-weight: 600;
	margin: 10px;
}

.user {
	font-size: 30px;
	margin: 10px;
}

.descriere {
	font-size: 30px;
	text-align: center;
	margin: 10px;
}

.distribuie {
	background-color: #339966;
	color: white;
	text-decoration: none;
	vertical-align: middle;
	padding: 7px 14px;
	border-radius: 12px;
	font-size: 12px;
	font-weight: 600;
	font-family: Arial;
	margin-left: 10px;
}

.Download {
	background-color: #9999ff;
  	border: none;
  	color: white;
  	padding: 7px 14px;
  	text-align: center;
  	text-decoration: none;
 	display: inline-block;
 	font-weight: 600;
 	font-size: 12px;
 	font-family: Arial; 
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 12px;
}

@media only screen and (max-width: 1000px) {
	.continut {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.imagine img {
		width: 100%;
	}

	.distribuie {
		padding: 7px 16px;
 		font-weight: 600;
 		font-size: 2vw;
	}

	.Download {
		padding: 7px 16px;
 		font-weight: 600;
 		font-size: 2vw;
	}

	.sectiuneImagine {
		width: 100%;
	}

	.sectiuneText{
		width: 100%;
	}

	.text {
		font-size: 4vw;
	}

	.user {
		font-size: 3vw;
	}
}