/*-----------------------------------------*/


/* Inceput */

.center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.mainFrame {
    background-color: #669999;
    width: 59%;
    display: flex;
    justify-content: center;
    align-self: stretch;
    padding: 20px 0 20px 0;
    overflow: auto;
    position: relative;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.card>* {
    position: absolute;
    align-self: center;
}

#canvas {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

#frame {
    position: absolute;
    display: block;
    height: 92%;
    width: 90%;
}

.picker {
    background-color: #669999;
    width: 19%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pickerholder {
    height: 150px;
    width: 200px;
    margin: 10px;
    background-color: #cccccc;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
}

.pickerholder>img {
    max-width: 100%;
    max-height: 100%;
}

.buttons {
    background-color: #669999;
    width: 19%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
}

.creatorButton {
    background-color: #cccccc;
    margin: 10px;
    width: 90px;
    height: 90px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.creatorButton:hover {
    background-color: white;
}

#pubcommunity {
    min-width: 190%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    padding: 20px 0;
}

#pubprivate {
    min-width: 190%;
    padding: 20px 0;
    vertical-align: middle;
}


/* Publish page */

.cardData {
    width: 40%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.form-publish {
    width: 90%;
}

input[id="cTitle"] {
    margin-bottom: 20px;
    width: 100%;
    font-size: 2vw;
}


/* 
input[id="cDescription"]{
    height: 90%;
    width: 100%;
    vertical-align:text-top;
} */

textarea[name="cDescription"] {
    height: 90%;
    width: 100%;
    vertical-align: text-top;
    font-size: 2vw;
}

@media screen and (max-width:1000px) {
    .center {
        flex-direction: column;
    }
    .mainFrame {
        width: 100%;
    }
    .picker {
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    .cardData {
        width: 100%;
    }
    .continut {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .imagine img {
        width: 100%;
    }
    .distribuie {
        padding: 7px 16px;
        font-weight: 600;
        font-size: 2vw;
    }
    .Download {
        padding: 7px 16px;
        font-weight: 600;
        font-size: 2vw;
    }
    .sectiuneImagine {
        width: 100%;
    }
    .sectiuneText {
        width: 100%;
    }
    .text {
        font-size: 4vw;
    }
    .user {
        font-size: 3vw;
    }
}