* {box-sizing: border-box;}

.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    display: inline-block;
    width: 100%;
    float: left;
	padding: 15px 0px;
    background-color:#9a99ff;
}

.header .logo{
    float: left;
}

.header .searchbar{
    width: 45%;
    height: 50px;
    float: left;
	padding: 20px 20px;
}

.searchbar .searchField{
    width: 70%;
    height: 50px;
    padding: 15px;
	margin-left: 150px;
    border: 1px solid gainsboro;
}

.header .headerright{
    float: right;
	margin-top: 15px;
}

.header .headerright ul li{
    display: inline-block;
    padding: 10px 0;
}

.header .headerright ul li a{
    text-decoration: none;
    margin-left: 15px;
    color: #333;
}


body{
    font-family: 'Roboto', sans-serif;  
    margin:0; 
	background-color:#cccc9a;	
}


.btn {
	border: 2px solid black;
	background-color: #66669a;
	border-color: #66669a;
	border-radius: 5px;
	color: #ccccca;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}

.btn:hover {
	background-color:#9a99ff;
	border-color: black;
	color: black;
}


/* Responsiveness tiles*/
.resp {
	display: inline;
	padding: 20px;
	float:left;
	width:25%;
	text-align: left;

}	
.resp .img{
    height:260px;
	width:350px;
}


@media screen and (max-width:1400px) {
  .resp {
    width:33%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width:1050px) {
  .resp {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media screen and (max-width: 750px) {
  .resp {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .searchbar .searchField {
		margin-left: 0px;
  }
}