/*-----------------------------------------*/

/* Inceput */

* {box-sizing: border-box;}

body {
  margin:0; 
	background-color:#cccc9a;	
}

/* Responsiveness tiles*/
.resp {
	padding: 20px;
	float:left;
	width:25%;
	text-align: left;
}	
.resp .img{
  height:260px;
	width:350px;
}

.menu {
  padding: 20px;
}

@media screen and (max-width:1400px) {
  .resp {
    width:33%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width:1050px) {
  .resp {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media only screen and (max-width: 1000px) {
  .continut {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .imagine img {
    width: 100%;
  }

  .distribuie {
    padding: 7px 16px;
    font-weight: 600;
    font-size: 2vw;
  }

  .Download {
    padding: 7px 16px;
    font-weight: 600;
    font-size: 2vw;
  }

  .sectiuneImagine {
    width: 100%;
  }

  .sectiuneText{
    width: 100%;
  }

  .text {
    font-size: 4vw;
  }

  .user {
    font-size: 3vw;
  }
}

@media screen and (max-width: 750px) {
  .resp {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}