html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /*resetarea defaultului */

header{
    display: inline-block;
    width: 100%;
    float: left;
    background-color: #002812;
}

header .logo{
    float: left;
    width: 20%;
	width: 150px;
	height: 100px;
}

nav{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

ul#menu{
    padding: 0;
    margin: .3em;
}

ul#menu li {
    display: inline;    
    margin-left:1em;
    margin-right:1em;  
}

ul#menu a {    
	text-decoration: none;
	cursor: pointer;
}
ul#menu a:hover {
	text-decoration: none;
	cursor: pointer;
}

body{
    font-family: 'Roboto', sans-serif;  
    margin:0;  
}

figure{
    border: 1px solid #aaa;
    padding: 2px;
    overflow:hidden;
}
img{
    height:260px;
	width:350px;
}


header{
    background-color:#9a99ff;
}

body{
	background-color:#cccc9a;
}

section{
    float: left;
    width: 66%;
}

article{
    margin:0;
    padding:1em; 
}

div{
	display: flex;

}


.btn {
	border: 2px solid black;
	background-color: #66669a;
	border-color: #66669a;
	border-radius: 5px;
	color: #ccccca;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}

.btn:hover {
	background-color:#9a99ff;
	border-color: black;
	color: black;
}