* {box-sizing: border-box;}

header{
    display: inline-block;
    width: 100%;
    float: left;
    background-color:#9a99ff;
}

header .logo{
    float: left;
	width: 65px;
	height: 100px;
}

body{
    font-family: 'Roboto', sans-serif;  
    margin:0; 
	background-color:#cccc9a;	
}

img{
    height:260px;
	width:350px;
}


.btn {
	float: left;
	border: 2px solid black;
	background-color: #66669a;
	border-color: #66669a;
	border-radius: 5px;
	color: #ccccca;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}

.btn:hover {
	background-color:#9a99ff;
	border-color: black;
	color: black;
}

.btnr {
	float: right;
	border: 2px solid black;
	background-color: #66669a;
	border-color: #66669a;
	border-radius: 5px;
	color: #ccccca;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}
.btnr:hover {
	background-color:#9a99ff;
	border-color: black;
	color: black;
}

/* Responsiveness tiles*/
.resp {
	padding:20px;
	float:left;
	width:25%; /* The width is 20%, by default */
}	



/* Top/Search bar */
.topnav {
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
} 

.topnav .search-container {
	float: center;
}

.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	background-color: #67999a;
}

.topnav .search-container button {
	float: center;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
    background-color: #67999a;
}

.topnav .search-container button:hover {
	background: #ccc;
}


