/*-----------------------------------------*/

/* Inceput */

body {
	background-color: #CCCC9A;
}

.continut {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.interfata {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.avatar {
	margin: 24px 0 12px 0;
  	width: 40%;
  	border-radius: 50%;
  	display: flex;
  	justify-content: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  box-sizing: border-box;
  font-size: 2vw;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1000px) {
	.continut {
		min-height: 100vh;
	}
	input[type=text], input[type=password] {
	  	width: 60%;
	 	font-size: 4vw;
	}
}