/*-----------------------------------------*/

/* Inceput */

body {
	background-color: #CCCC9A;
}

.continut {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	font-size: 2vw;
	min-height: 100vh;
}

.interfata {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/* Full-width inputs */
input[type=email], input[type=text], input[type=password], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  box-sizing: border-box;
  font-size: 2vw;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1000px) {
	.continut {
		min-height: 100vh;
	}
	input[type=email], input[type=text], input[type=password], input[type=password] {
	  	width: 60%;
	 	font-size: 4vw;
	}
}