html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------------*/

/* Inceput */

* {box-sizing: border-box;}

body{
    font-family: 'Roboto', sans-serif;  
    margin:0; 
	background-color:#cccc9a;	
}

header {
  background-color: #9999ff;
  height: 100px;
  width: 100%;
}

div header button {
  background-color: #666699;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  font-family: Arial; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.logo {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 60px;
}

.NewCard {
  float: left;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #666699;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  font-family: Arial; 
    cursor: pointer;
    border-radius: 12px;
}

div header input[type=text] {
  background-color: #339966;
    padding: 14px 32px;
    border: none;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 12px;
}

::placeholder {
  color: white;
}

.LogIn {
  float: right;
  margin-top: 25px;
  margin-right: 10px;
  background-color: #666699;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  font-family: Arial; 
    cursor: pointer;
    border-radius: 12px;
}

.SignUp {
  float: right;
  margin-top: 25px;
  margin-right: 10px;
  background-color: #666699;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  font-family: Arial; 
    cursor: pointer;
    border-radius: 12px;
}

.btn {
	border: 2px solid black;
	background-color: #66669a;
	border-color: #66669a;
	border-radius: 5px;
	color: #ccccca;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}

.btn:hover {
	background-color:#9a99ff;
	border-color: black;
	color: black;
}

/* Responsiveness tiles*/
.resp {
	padding: 20px;
	float:left;
	width:25%;
	text-align: left;
}	
.resp .img{
  height:260px;
	width:350px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  padding: 20px;
}

.Documentation {
  background-color: #9494b8;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 1vw;
  font-family: Arial; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.menu {
  padding: 20px;
}

@media screen and (max-width:1400px) {
  .resp {
    width:33%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width:1050px) {
  .resp {
    width:50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media only screen and (max-width: 1000px) {
    .logo {
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 60px;
  }

  .NewCard {
      padding: 7px 16px;
    font-weight: 600;
    font-size: 3vw;
  }

  div header input[type=text] {
      padding: 7px 8px;
      font-size: 1.5vw;
  }

  .LogIn {
    padding: 7px 16px;
    font-weight: 600;
    font-size: 3vw;
  }

  .SignUp {
    padding: 7px 16px;
    font-weight: 600;
    font-size: 3vw;
  }

  .continut {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .imagine img {
    width: 100%;
  }

  .distribuie {
    padding: 7px 16px;
    font-weight: 600;
    font-size: 2vw;
  }

  .Download {
    padding: 7px 16px;
    font-weight: 600;
    font-size: 2vw;
  }

  .sectiuneImagine {
    width: 100%;
  }

  .sectiuneText{
    width: 100%;
  }

  .text {
    font-size: 4vw;
  }

  .user {
    font-size: 3vw;
  }

  .descriere {
    font-size: 3vw;
  }

  .Documentation {
    font-size: 2vw;
  }
}

@media screen and (max-width: 750px) {
  .resp {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .searchbar .searchField {
	margin-left: 0px;
  }
}