body{
    background-color: cornsilk;
}

body img{
    -webkit-user-drag:none;
}

.center{
    width: 100%;
    max-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.mainFrame{
    background-color: #669999;
    width:59%;
    display: flex;
    justify-content: center;
    padding:20px 0 20px 0 ;
}

.cardData{
    width:40%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

form{
    width: 90%;
}

input[id="cTitle"]{
    margin-bottom: 20px;
    width: 100%;
    font-size: 2vw;
}
/* 
input[id="cDescription"]{
    height: 90%;
    width: 100%;
    vertical-align:text-top;
} */

textarea[name="cDescription"]{
    height: 90%;
    width: 100%;
    vertical-align:text-top;
    font-size: 2vw;
}

.picker{
    background-color: #669999;
    width:19%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.pickerholder{
    height:150px;
    width: 200px;
    margin: 10px;
    background-color: #cccccc;
    padding:0px 10px 0px 10px;
    display: flex;
    justify-content: center;
}

.pickerholder>img{
    max-width: 100%;
    max-height: 100%;
}

.card{
    display:flex;
    justify-content: center;
}

.card img{
    max-width: 90%;
}

.buttons{
    background-color: #669999;
    width:19%;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    justify-content: space-around;
    align-items: center;
}

.creatorButton{
    background-color:#cccccc;
    margin:10px;
    width: 90px;
    height: 90px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.creatorButton:hover{
    background-color: white;
}
#pubcommunity{
    min-width: 190%;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:4;
    grid-row-end:4;
    padding: 20px 0;
}
#pubprivate{
    min-width: 190%;
    padding: 20px 0;
    vertical-align: middle;
}

@media screen and (max-width:1000px) {
    .center{
        flex-direction: column;
    }

    .mainFrame{
        width: 100%;
    }

    .picker{
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .cardData{
        width: 100%;
    }
}